.inputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
    flex-shrink: 0;
}

.input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    caret-color: var(--primary-color);
    width: 100%;
}
